body {
  margin: 0;
  font-family: Arial;
  background: #f3f4f6;
}

.navbar {
  background: #2563eb;
  padding: 15px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

.page {
  text-align: center;
  margin-top: 60px;
  font-size: 26px;
}

.card {
  background: white;
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}